body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #cff797; /* Light green background color */
}

#productList {
    max-width: 600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* White box shadow for the table */
}

th, td {
    border: 1px solid #ddd; /* Add borders to table cells */
    padding: 6px;
    text-align: justify;
}

th {
    background-color: #4db049; 
    /* Light gray background color for header cells */
}

#productList th, #productList td {
    font-weight: bold; /* Make title and price bold */
}

.product {
    transition: transform 0.2s ease-in-out;
}

.product:hover {
    transform: scale(1.02); /* Scale up the product on hover */
}

.product h3 {
    margin: 0;
    color: #333; /* Dark text color for product title */
}

.product p {
    margin: 5px 0;
    color: #666; /* Slightly darker text color for additional information */
}

.product hr {
    margin: 10px 0;
    border: 0;
    height: 1px;
    background-color: #ccc; /* Light gray separator line */
}
